@use "./var";

nav {
  background-color: #323232;
  position: fixed;
  top: 0;
  padding: 15px;
  width: 100vw;
  opacity: 1;
  z-index: 999;
  max-height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    a {
      text-decoration: underline transparent;
      color: #ccc;
      transition: .3s;
      margin-inline: 20px;
    }

    a:hover {
      color: var.$blue;
      text-decoration: underline;
    }
  }
}

.page  {
    margin-top: 50px;
    height: calc(100vh - 50px)
}
