@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer_container {
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        justify-content: space-around;
        padding: 5% 0 0 5%;
    }
}

@media screen and (min-width: 1024px) {
    .footer_container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-around;
        padding: 5% 0 5% 9%;
    }
}
